<template>
  <Input v-bind="$attrs" @input="handleInput" />
</template>

<script>
import { Input } from "primevue/input";

export default {
  name: "MyInput",
  components: {
    Input,
  },
  methods: {
    handleInput(event) {
      this.$emit("input", event.target.value);
    },
  },
};
</script>
