<template>
  <DatePicker v-bind="$attrs" @input="handleInput" />
</template>

<script>
import { DatePicker } from "primevue/datepicker";

export default {
  name: "MyDatePicker",
  components: {
    DatePicker,
  },
  methods: {
    handleInput(date) {
      this.$emit("input", date);
    },
  },
};
</script>
