<template>
  <Button v-bind="$attrs" @click="handleClick" />
</template>

<script>
import { Button } from "primevue/button";

export default {
  name: "MyButton",
  components: {
    Button,
  },
  methods: {
    handleClick() {
      this.$emit("click");
    },
  },
};
</script>
