<template>
  <Dialog :visible.sync="isVisible">
    <teleport to="body">
      <div class="p-fluid">
        <div class="p-field">
          <div class="modal-header">
            <slot name="modalHeader"></slot>
          </div>
          <div class="modal-content">
            <slot name="modalContent"></slot>
          </div>
          <div class="modal-footer">
            <slot name="modalFooter">
              <Button
                label="Cancel"
                class="p-button-secondary"
                @click="cancelModal"
              />
              <Button
                label="Submit"
                class="p-button-primary"
                @click="submitModal"
              />
            </slot>
          </div>
        </div>
      </div>
    </teleport>
  </Dialog>
</template>

<script lang="ts">
import { Dialog } from "primevue/dialog";
import { Button } from "primevue/button";
import { defineComponent, ref } from "@nuxtjs/composition-api";
import useModal from "~/composables/useModal";

export default defineComponent({
  name: "MyModal",
  components: {
    Dialog,
    Button,
  },
  setup() {
    const { isVisible, openModal, closeModal } = useModal();

    function cancelModal(): void {
      closeModal();
      // Emit event onCancel
      if (typeof onCancel === "function") {
        onCancel();
      }
    }

    function submitModal(): void {
      closeModal();
      // Emit event onSubmit
      if (typeof onSubmit === "function") {
        onSubmit();
      }
    }

    return {
      isVisible,
      openModal,
      cancelModal,
      submitModal,
    };
  },
});
</script>

<style scoped>
.modal-header {
  padding: 1rem;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

.modal-content {
  padding: 1rem;
}

.modal-footer {
  padding: 1rem;
  text-align: right;
  border-top: 1px solid #ddd;
}
</style>
